.heroes .selected {background-color: red;}
.heroes li {
  cursor: pointer;
  list-style: none;
  padding: 10px;
  max-width: 100px;
}

.heroes li span{
  display: block;
  background-color: light-blue;
}