<div *ngIf="!selectedHero">
  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">  
      <span class="badge">Id: {{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="auxHeroName" placeholder="name" (keydown.enter)="changeHeroName(); cancelSelection()"/>
    </label>
    <button (click)="changeHeroName(); cancelSelection()">Cambiar Nombre </button>
  </div>  
  <button (click)="cancelSelection()">Volver </button>
</div>
